@{
    ViewData["Title"] = "Confirmação de senha resetada";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi resetada com sucesso. Por favor <a asp-action="Login">clique aqui para entrar no sistema</a>.
</p>
