@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Victor Fernando Ferreira Gomes<br />
    <abbr title="Phone">Telfone:</abbr>
    +55 31 9 9835-8902
</address>

<address>
    <strong>Email: </strong> <a href="mailto:victorgbpk@gmail.com">victorgbpk@gmail.com</a>
</address>
